<ion-view view-title="课程">
    <div class="bar bar-header">
        <a class="button icon ion-chevron-left" href="#/tab/courseList"></a>
        <div class="h1 title">{{key}}</div>
        <button class="button button-clear button-small" ng-click="save()">保存</button>
    </div>
    <ion-content>
        <br />
        <br />
        <div>
            <label class="item item-input">
                <input type="text" ng-model="value">
            </label>
        </div>
    </ion-content>
</ion-view>